{% block form_row %}
    {{ form_label(form, form.vars.label, { 'label_attr': {'class' : 'control-label'} }) }}
    {{ form_widget(form) }}
{% endblock form_row %}

    
{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock form_widget_simple %}

{%- block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}


{%- block form_widget -%}
    {% if compound %}
        {{- block('form_widget_compound') -}}
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock form_widget -%}

{%- block form_widget_compound -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}


{%- block form_rows -%}
    <div class="btn-group">
    {% for child in form %}
        {% if 'hidden' in child.vars.block_prefixes %}
            </div>
            {{- form_row(child) -}}
        {% else %}
            {{- form_row(child) -}}
        {% endif %}
    {% endfor %}
{%- endblock form_rows -%}

{%- block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row -%}