{% extends 'base.html.twig' %}

{% block content %}
   
     <div class="table-wrapper page-header">
        <h1>Mostrar una Ayuda 
        {% if ayuda is defined and ayuda != "" %}
                <a href="#" data-toggle="modal"  data-target="#ayudaMessage"><i class="material-icons md-inherit md-48">help</i></a>
            {% endif %}
        </h1>
        {% if delete_form is defined %}
            {{ form_start(delete_form, {'attr': {'class': 'text-right'}}) }}
                <input class="btn btn-danger" type="submit" value="Eliminar" />
            {{ form_end(delete_form) }}
        {% endif %}
    </div>
    
        <div class="row">
            <div class="col-xs-12 col-md-6 text-right" ><strong class="text-bold">Id:</strong></div>
            <div class="col-xs-12 col-md-6 text-left"> {{ ayudaNew.id }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 text-right"><strong class="text-bold">Código:</strong></div>
            <div class="col-xs-12 col-md-6 text-left"> {{ ayudaNew.codigo }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 text-right"><strong class="text-bold">Texto:</strong></div>
            <div class="col-xs-12 col-md-6 text-left"> {{ ayudaNew.texto }}</div>
        </div>
        <div class="col-xs-12 text-center" style="margin-top: 12px;">
            <a class="btn btn-primary pull-center" href="{{ path('ayuda_index') }}" title="Volver al listado">Lista de Ayudas</a>
        </div>

{% endblock %}
