{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="page-header">
        <i class="material-icons md-inherit md-48">add_circle</i>
        Importar Archivo .JOS
        {% if ayuda is defined and ayuda != "" %}
                <a href="#" data-toggle="modal"  data-target="#ayudaMessage"><i class="material-icons md-inherit md-48">help</i></a>
        {% endif %}
    </h1>

    <div id="importarJos">
        {{ form_start(form, {'attr': {'class': 'progress-form'}}) }}
        
        <div class="row">
                <div class="col-xs-12 col-md-6">
                    {{ form_row(form.fecha) }}
                </div>
        </div>
                
        <div class="btn-group-sm">
            <div class="btn">
                {{ form_row(form.cancelar) }}
            </div>
            <div class="btn">
                {{ form_row(form.importarJos) }}
            </div>
            <div class="btn">
                {{ form_row(form.reporteJos) }}
            </div>

        </div>
        
        {{ form_rest(form) }}
        {#
        <div class="col-xs-12 text-left" style="margin-top: 12px;">
            <a class="btn btn-default" href="{{path('importar_jos')}}" title="">Cancelar</a>
            <input class="btn btn-primary" id="botonImportar" type="submit" value="Importar" />
            <input class="btn btn-success" id="botonVerReporteJos" type="submit" value="VerReporte" />
        </div>
        #}
        {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
   {{parent()}}
    <script> 
        $( document ).ready(function() {
  
        var topYear = new Date().getFullYear()+1;
            {% image '@SiafcaIntranetBundle/Resources/public/nueva_base/images/ic_event_black_24dp_2x.png' %}
                $(".date-format").datepicker({
                    yearRange: (topYear-120)+":"+topYear,
                    minDate: "-150Y",
                    buttonImage: "{{ asset_url }}",
                });
            {% endimage %}
            }); 
            
    </script>
{% endblock javascripts %}
 
