{# empty Twig template #}

{% extends 'base.html.twig' %}
{% block title %}Cambiar Contraseña{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="grad_form">
    {% for flashMessage in app.session.flashbag.get('aviso') %} 
        <div class="flash-notice">  
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1><i class="material-icons md-inherit md-48">mode_edit</i> Cambiar Contraseña</h1>
    <hr>
    <div>
        <form method="POST" action="{{ path( 'changepass_usuario', { 'id': id } ) }}" id="formUsuarioPassword">
            <fieldset id="filtroRecibos">
                <legend>Cambiar Contraseña</legend>
                <div>               
                    <label for="{{ form.password_act.vars.id }}" class="label">{{form.password_act.vars.label}}</label>
                    {{ form_widget( form.password_act ) }}
                    {{ form_errors( form.password_act ) }}
                </div>
                <div>
                    <label for="{{ form.password.first.vars.id }}" class="label">{{form.password.first.vars.label}}</label>
                    {{ form_widget( form.password.first ) }}
                    {{ form_errors( form.password.first ) }}
                </div>
                <div>
                    <label for="{{ form.password.second.vars.id }}" class="label">{{form.password.second.vars.label}}</label>
                    {{ form_widget( form.password.second ) }}
                    {{ form_errors( form.password.second ) }}
                </div>         
            </fieldset>
            {{ form_rest( form ) }}
            <div class="botones">
                <button type="submit">Actualizar</button>
            </div>
            
        </form> 
     </div>
    </div>
{% endblock %}

{% block customjavascripts %}
    <script>
    $('#formUsuarioPassword').on('submit', function (e) {
                        e.preventDefault();
                        $.ajax($(this).attr('action'), {
                            'data': $(this).serialize(),
                            'dataType': 'JSON',
                            'method': 'POST',
                            'success': function (response) {
                                if(response.success){
                                var $message = $('<div class="flash flash-success alert alert-success alert-dismissible" role="alert">' +
                                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                                            response.msg +
                                            '</div>');
                                } else {
                                    var $message = $('<div class="flash flash-error alert alert-danger alert-dismissible" role="alert">' +
                                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                                            response.msg +
                                            '</div>');
                                }
                                $('body').append($message);
        {# La animacion del mesaje flash dura 5seg #}
                                            setTimeout(function () {
                                                $message.remove();
                                            }, 6000);
                                        
                                }
                                });
                                });
</script>

{% endblock %}
