<tr class="row-index">
    <td class="grey-background">{{ organismos.getPaginationData.firstItemNumber + loop.index - 1 }}</td>
    <td class="text-left">{{ registro.organismo.nombre}}</td>
    <td class="text-left">{{ registro.organismo.codigo}}</td>
    <td class="text-left">{{registro.persona.getNombreCompleto}}</td>
    <td class="text-left">{{registro.persona.getCuilToShow}}</td>
    <td class="text-left">{{registro.estado.nombre}}</td>
    <td>
        <div class="actions" role="toolbar" aria-label="acciones-item">
            <div>
                <a class="btn btn-default btn-xs" href="{{ path('firmante_show',{'id': registro.id}) }}">
                    <i class="material-icons md-18 md-inherit">visibility</i>
                    <span>Ver</span>
                </a> 
            </div>  
        </div>     
    </td>
</tr>
