{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="page-header">
        <i class="material-icons md-inherit md-48">mode_edit</i>
        Editar Usuario de {{ usuarioOrganismo.organismo.nombre }}
    </h1>
    
    {{ form_start(form, {'attr': {'class': 'progress-form'}}) }}
        <div class="row">
            <div class="col-xs-12 col-md-6"><label>Nombre de usuario:</label> {{ usuarioOrganismo.usuario.username }}</div>
            <div class="col-xs-12 col-md-6"><label>Rol:</label> {{ usuarioOrganismo.rol }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">{{ form_row(form.fechaDesde) }}</div>
            <div class="col-xs-12 col-md-6">{{ form_row(form.fechaHasta) }}</div>
        </div>
        {{ form_row(form.correo) }}
        {{ form_widget(form._token) }}
        <div class="col-xs-12 text-center" style="margin-top: 12px;">
            <a class="btn btn-default" href="{{ path('usuario_organismo.show', {'id': usuarioOrganismo.id}) }}" title="Volver">Cancelar</a>
            <input class="btn btn-primary" type="submit" value="Agregar" />
        </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block customjavascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var topYear = new Date().getFullYear()+1;
            {% image '@SiafcaIntranetBundle/Resources/public/nueva_base/images/ic_event_black_24dp_2x.png' %}
                $(".date-format").datepicker({
                    yearRange: (topYear-120)+":"+topYear,
                    minDate: "-150Y",
                    buttonImage: "{{ asset_url }}",
                });
            {% endimage %}
        });
    </script>
{% endblock %}