<tr class="row-index">
    <td class="grey-background">{{ aportes.getPaginationData.firstItemNumber + loop.index - 1 }}</td>
    <td>{{ aporte.ANIO ~ '/' ~ aporte.MES }}</td>
    <td>{{ aporte.ORG }}</td>
    <td>{{ aporte.NTIPO }}</td>
    <td>{{ aporte.REV }}</td>
    <td>{{ aporte.IMP1 }}</td>
    <td>{{ aporte.IMP2 }}</td>
    <td>{{ aporte.IMP3 }}</td>
</tr>